* {
    padding: auto;
    margin: auto;
    box-sizing: border-box;
}

body {
    background-image: url(22.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: none;
    font-family: sans-serif;
}

.menu-bar {
    background: #c0b7b6;
    text-align: center
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: rgba(214, 76, 12, 0.877);
}

.menu-bar ul li {
    width: 120px;
    margin: 10px;
    padding: 0px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: rgba(214, 76, 12, 0.877);
}

div {
    background-color: rgb(0, 0, 0);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

#c {
    padding: 400px;
}

h1 {
    color: rgb(223, 103, 6);
    font-size: 110px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#v {
    background-color: rgb(236, 90, 5);
    color: rgb(0, 0, 0);
    margin: 59px;
    padding: auto;
    text-align: center;
    background-position: center;
    border: chocolate;
    font-size: 25px;
    border-radius: 4px;
}

.active,
#v:hover {
    background: #c0b7b6;
    border-radius: 3px;
}

.active,
.menu-bar ul li:hover {
    background: #f0f0f0;
    border-radius: 4px;
}

.menu-bar .fa {
    margin-right: 8px;
}